<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    {% if errormessage %}
        <h3>{{errormessage}}</h3>
    {% endif %}
    <form action="/loginForm" class="form" method="post">
        <h3><label for="username">Username:</label></h3>
        <input type="text" id="username" name="username" value="{{username}}">

        <h3><label for="password">Password:</label></h3>
        <input type="text" id="password" name="password" value="{{password}}">

        </br></br>
        <button id="submit">Submit</button>
    </form>
</body>
</html>
