<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order list</title>
</head>
<body>
    <h1>Orders</h1>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
        </tr>
        {% for order in orders | sort(attribute="orderId") %}
        <tr>
            <td><a href="/orders/{{order.orderId}}" target="_blank">{{ order.orderId }}</a></td>
            <td>{{ order.orderDate }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
